<h1><%= @manager.username %>'s Profile </h1>
<br>
<%= link_to "View Your Bands", manager_bands_path(@manager) %>
<br>
<%= link_to "Edit Account", edit_manager_path(@manager) %>
<br>
<%= link_to "Delete Account", manager_path(@manager), method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %>

